* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#baiTapJS.accordion .card .card-header button.btn {
  color: var(--dark);
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.5s;
}
#baiTapJS.accordion .card .card-header button.btn:hover {
  transform: scale(1.1);
  opacity: 1;
}
#baiTapJS.accordion .card .card-header button.btn.active {
  color: var(--danger);
}
.output input {
  background-color: rgba(0, 255, 208, 0.81);
}
